# Node
node_modules/
.next/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Env
.env
.env.*

# Build
build/
dist/
*.egg-info/

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# Misc
*.bak
*.swp
*.tmp

# Ignore large files
frontend/node_modules/
frontend/.next/
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/*.sqlite3
backend/*.db

.config/
